# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Asset Library: export only plugin payload.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
